.add-list{
	display: flex;
	gap: 8px;
	justify-content: center;
	border: 1.5px solid #E5E7EB;
	width: fit-content;
	margin: 16px auto;
	background: #c7d2fe;
	border-radius: 8px;
	padding: 20px;
}
.add-list input{
	border-radius: 8px;
	padding: 8px 12px;
	border: 1.5px solid #c7d2fe;
	outline: none;
	background: white;
}
.add-list button{
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	background: #6366f1;
	color: white;
	transition: opacity 0.2s;
}
.add-list button:hover{
	opacity: 0.85;
	cursor: pointer;
}
